/*** linkbutton css***********************************************************/
a.linkbutton * {
  font-size: inherit !important;
  border: 0px none;
  margin-top: 1px;
  cursor: pointer;
  border-color: #0d47a1;
}

a.linkbutton:hover {
  text-decoration-line: none !important;
  border: none !important;
  background: none !important;
}

a.linkbutton.x-btn-default-small-focus {
  text-decoration: underline !important;
  border: none !important;
  background: none !important;
}

.linkbutton {
  border: none !important;
  background: none !important;
  cursor: pointer;
}

.linkbutton span {
  cursor: pointer;
  font-weight: 400;
  text-decoration: underline;
  color: black;
  glyph: green;
}

.linkbutton_highlighted span {
  cursor: pointer;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
/*** linkbutton css***********************************************************/

/*** linkbutton like html link css *******************************************/
a.linkbuttonhtml * {
  font-size: inherit !important;
  border: 0px none;
  margin-top: 1px;
  cursor: pointer;
  color: #0a4e7d !important;
  font-weight: normal !important;
  text-decoration: underline  !important;;
}

a.linkbuttonhtml:hover {
  text-decoration: none !important;
  border: none !important;
  background: none !important;
}

a.linkbuttonhtml.x-btn-default-small-focus {
  text-decoration: underline !important;
  border: none !important;
  background: none !important;
}

.linkbuttonhtml {
  border: none !important;
  background: none !important;
  cursor: pointer;
}

.linkbuttonhtml span {
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.linkbuttonhtml_highlighted span {
  cursor: pointer;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
/*** linkbutton like html link css *******************************************/

.link-btn-custom{
  font-weight: bold;
  background-color: red;
  border: #0f0f0f;
}