.bold-input {
  font-size: 1.5em;
  font-weight: bold
}

.window-info-label {
  font-weight: bold;
}

.grid-amount-bold {
  font-size: 1.2em;
  font-weight: bold;
  color: #3b5a82;
}

.grid-clientName-font{
  font-size: 1em;
}

